@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* index.css */
@font-face {
    font-family: 'Young20S';
    src: url('/src/assets/fonts/Young20SRegular-wrB3.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Young20S', sans-serif;
  }
  